body {
<<<<<<< HEAD
    background-color: red;
=======
    background-color: navajowhite;
>>>>>>> cabang_baru
}

h1 {
    font-size: large;
    background-color: aqua;
}

p{
    font-weight: 500;
    color: white;
    background-color: hotpink;
}